.pai {
    background-color: silver;
    border: 1px solid rgb(255, 0, 0);
    height: 700px;
    width: auto;
    display: flex;
    flex-flow: row wrap;
    gap: 7px;
}
.filho {
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    border: 1px solid wheat;
    width: 299px;
    height: 299px;


}